.empty {
    width: 60%;
    height: 20%;
    margin: auto;
    gap: 8px;
    width: 320px;
    min-width: 280px;
    max-width: 100%;
    padding: 20px 16px 24px;
    border-radius: 20px;
    background: radial-gradient(269% 141% at 0% 0%, #ffffffa3 0%, #ffffffa3 50%, #ffffffa3 100%);
    backdrop-filter: blur(25px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;

    p {
        margin: 0;
    }

    &__title {
        color: #060708;
        font-size: 17px;
        font-weight: 600;
    }

    &__subtitle {
        color: #060708ad;
        font-weight: 400;
        text-align: center;
    }
}